.formulario-carga-pdf
{

    &__top
    {

        &__data-card
        {
            .card-datos-proveedor
            {
                border-radius: 0.25rem;
                background: var(--Common-White, #FFF);
                box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.30);
            }

            .proveedor-txt
            {
                margin: 0;

                color: var(--Grey-800, #212B36);

                font-family: Roboto;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;

                line-height: 1.75rem;
            }



            .cuit-condicion-domicilio-txt
            {
                color: var(--Grey-800, #212B36);

                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5rem;
            }
        }

    }

}
