<div class="forbidden">

    <div class="forbidden__container sm:w-8 md:w-6  lg:w-5 xl:w-4">
        <div class="forbidden__container__bg"></div>

        <div class="forbidden__container__content">
            <div class="forbidden__container__content__title">
                <div class="forbidden__container__content__title--text">
                    Socios PAS
                </div>
                <div class="forbidden__container__content__title--img">
                    <img src="../../../../public/assets/img/svg/acceso_denegado.svg" />
                </div>
            </div>
            <div class="forbidden__container__content__subtitle">
                Acceso denegado
            </div>

            <div class="forbidden__container__content__info">
                <span> <strong>No tenés el permiso necesario para acceder a esta opción del sistema. </strong>
                    Si considerás que deberías tenerlo, por favor, contactanos
                    a través de la <strong>Mesa de Ayuda</strong>: <a
                        href="mailto:{{emailAyuda}}">{{emailAyuda}}</a></span>
            </div>
        </div>

        <div class="forbidden__container__logo">
            <img src="../../../../public/assets/img/svg/logo_coop_full.svg" />
        </div>
    </div>
</div>