<form [formGroup]="formCuotas" class="card-cuotas">

  <div class="grid m-0 w-full">

    <div class="col-6">
      <p-floatLabel>
        <p-inputNumber
          class="w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          [readonly]="true"
          currency="USD"
          inputId="montoTotal"
          locale="en-US"
          mode="currency"
          formControlName="montoTotal" 
        ></p-inputNumber>
        <label for="number-input">Monto Total Factura</label>
      </p-floatLabel>
    </div>

    <div class="col-6">
      <p-inputNumber
      class="w-full"
      styleClass="w-full"
      inputStyleClass="w-full"
      mode="decimal"
      placeholder="Cant. Cuotas"
      [showButtons]="true"
      inputId="numCuotas"
      [min]="1"
      [max]="6"
      formControlName="numCuotas"
      (onInput)="onNumCuotasChange($event)">
    </p-inputNumber>
    </div>

  </div>

  <div formArrayName="cuotas">

    <div *ngFor="let cuota of cuotas.controls; let i = index" [formGroupName]="i" class="grid m-0 w-full">

      <div class="col-6">
        <p-floatLabel>

          <p-inputNumber
            class="w-full"
            styleClass="w-full"
            inputStyleClass="w-full"
            inputId="integeronly-{{ i }}"
            mode="currency"
            currency="USD"
            locale="en-US"
            formControlName="monto">
          </p-inputNumber>

          <label for="integeronly-{{ i }}">Cuota {{ i + 1 }}</label>

        </p-floatLabel>
      </div>

      <div class="col-6">

        <p-calendar
          class="w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          placeholder="Vencimiento"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          formControlName="vencimiento"
          appendTo="body">
        </p-calendar>

      </div>

    </div>

  </div>
  
</form>

<div class="flex align-items-center	justify-content-end gap-3 mt-3">
  <p-button label="Cancelar" styleClass="btn-cancelar" severity="contrast" appDebounceClick (click)="closeDialog(null)" />
  <p-button label="Guardar" styleClass="btn-guardar" [disabled]="!formCuotas.valid || !formCuotas.dirty" type="submit" (onClick)="guardarCambios()"></p-button>
</div>

